# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal
notes
.$breakout.drawio.bkp
breakout.drawio
level-change-flow.drawio
/electron/
/android/
/public/assets/unused/
breakout.tiled-session
breakout.tiled-project